.container {
	max-width: var(--container-width);
	margin: 0 auto;
}
.prediction {
	margin: 20px auto 0 auto;
	width: 100%;
}
.predictionSubtitle-container {
	transition: 0.2s ease;
}
.predictionSubtitle-container.hidden {
	opacity: 0;
}
.predictionSubtitle {
	white-space: nowrap;
	text-align: center;
	margin: 20px auto 0 auto;
	max-width: calc(var(--container-width) - 20px);
}
