.page {
	width: 100%;
	min-width: 350px;
	background-color: var(--main-white);
	font-size: 15px;
	color: var(--main-white);
}
.wrapper {
	min-height: 100vh;
	background-image: url('/images/background.png');
	background-size: cover;
	background-position: top left;
	padding: 10px 0 20px 0;
}
.container {
	max-width: var(--container-width);
	margin: 0 auto;
}
.prediction-wrapper {
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
}
